* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
}

.container {
    max-width: 1180px;
    margin: auto;
    padding: 0 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 0;
}

.gallery div {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    align-items: flex-start;


}

.gallery div img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(0 , 0 , 0 ,.05);
    border-radius: 6px;
    max-height: 150px;

    height: 100%;


}

.gallery h2 {
    text-transform: uppercase;
    padding: 20px 0 20px 0;
}

.gallery p {
    font-size: 16px;
    /*visibility: hidden;*/

}

.gallery span {
    padding: 20px 0 30px 0;
    color: red;
    font-size: 18px;
    text-transform: capitalize;
}

.gallery button{
    background: black;
    font-size: 16px;
    color: white;
    padding: 10px 50px;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;


}